<li class="item flexrow item-header">
  <div class="codex-name">
    <span>{{localize "arm5e.sheet.magical-effects"}} </span>
    <span>( {{ system.magicEffectsCount }} )</span>
  </div>
</li>
{{> "systems/arm5e/templates/generic/metalic-bar.html" }}
{{#each system.filteredMagicEffects as |effect id|}}
  <li class="item spell-value flexrow flex-center" data-name="{{effect.name}}" data-item-id="{{effect.id}}"
    data-item-type="{{effect.type}}">
    <div class="item-image item-control item-edit"><img src="{{effect.img}}" title="{{effect.name}}" /></div>
    <div class="flexrow flex-center">
      <span class="flexrow spell-title design" data-name="{{effect.name}}">
        <!-- data-level="{{effect.system.baseLevel}}" data-technique="{{effect.system.technique.value}}" data-form="{{effect.system.form.value}}"-->
        {{effect.name}} {{effect.system.localizedDesc}}
      </span>
    </div>
    <div class="item-controls">
      <a class="item-control alt-design"
        title='{{localize "arm5e.hints.design" item=(localize "ITEM.TypeEnchantment")}}'><i
          class="fa-xl fas fa-gavel"></i></a>
      <a class="item-control item-edit"
        title='{{localize "arm5e.hints.edit" item=(localize "ITEM.TypeMagicaleffect")}}'><i
          class="icon-Icon_Edit"></i></a>
      <a class="item-control effect-delete"
        title='{{localize "arm5e.hints.delete" item=(localize "ITEM.TypeMagicaleffect")}}'><i
          class="icon-Icon_Delete_Hand_Gesture"></i></a>
    </div>
  </li>
{{/each}}