<li class="item flexrow item-header">
  <div class="codex-name">
    <span>{{localize "Search"}} ({{system.aspectsCount}}) </span>
    <input class="search-aspects" type="text" style="font-family: bookAntiquaBold;" value="{{ui.filters.aspects.searchString}}">
  </div>
</li>
{{> "systems/arm5e/templates/generic/metalic-bar.html" }}

{{#each system.filteredAspects as | params aspect|}}
<div class="backSection">
  <li class="item aspect-value flexrow" data-name="{{params.name}}">
    <div class="flexrow flex-group-left">
      <div class="flexcol" >
        <div class="flexrow" >
          {{params.name}} 
        </div>
        {{#if @root.metagame.view }}
        <div class="label-light">
          {{params.source}} ({{params.page}})
        </div>
        {{/if}}
      </div>
      <div class="flex-group-left" >
        <ul>
        {{#each params.effects as | attr key|}}
          <li>{{attr.name}} : {{attr.bonus}}</li>
        {{/each}}
        </ul>
      </div>
    </div>
  </li>
  </div>
{{/each}}