<li class="item flexrow item-header">
  <div class="codex-name">
    <span>{{localize "arm5e.sheet.spells"}} </span>
    <span>( {{ system.spellsCount }} )</span>
  </div>
</li>
{{> "systems/arm5e/templates/generic/metalic-bar.html" }}
{{#each system.filteredSpells as |spell id|}}
  <li class="item spell-value flexrow" data-name="{{spell.name}}" data-item-id="{{spell.id}}"
    data-item-type="{{spell.type}}">
    <div class="flexrow flex-center">
      <span class="flexrow spell-title design" data-name="{{spell.name}}">
        <!-- data-level="{{spell.system.baseLevel}}" data-technique="{{spell.system.technique.value}}" data-form="{{spell.system.form.value}}"-->
        <!--div class="item-image">
                            <a class="rollable" data-roll-type="item"><img src="{{spell.img}}" title="{{item.name}}" width="24" height="24" /></a>
                        </div-->
        {{spell.name}} {{#if (eq spell.system.ritual true )}} , {{localize "arm5e.sheet.ritual"}} - {{/if}}
        {{spell.system.localizedDesc}}
      </span>
    </div>
    <div class="item-controls">
      <a class="item-control item-edit" title='{{localize "arm5e.hints.edit" item=(localize "ITEM.TypeSpell")}}'><i
          class="icon-Icon_Edit"></i></a>
      <a class="item-control effect-delete"
        title='{{localize "arm5e.hints.delete" item=(localize "ITEM.TypeSpell")}}'><i
          class="icon-Icon_Delete_Hand_Gesture"></i></a>
    </div>
  </li>
{{/each}}