<div class="backSection {{list}} {{visibility}}">
  <li class="filter-item toggle-display flexrow" draggable="false" style="padding-bottom: 8px;">
    <!--style=" {{lookup display list}}"-->
    <div class="header-fields">
      <div class="resources flexrow flex-between padding12x5">
        <span class="flexrow">
          <label for="topic" class="header-label" style="padding-left: 10px">{{localize
              "arm5e.sheet.bookTopic"
            }}</label>
          <select
            id="topic"
            name="topic"
            data-type="String"
            style="flex: 0 0 100px;   max-width:120px"
            class="topic-filter"
            data-list="{{list}}"
            data-category="bookTopics"
          >
            {{#with (lookup ui.filters.bookTopics list)}}
              {{#select topicFilter}}
                <option value=""></option>
                {{#each @root.topics as |topic key|}}
                  <option value="{{key}}" {{topic.selection}}>{{topic.label}}</option>
                {{/each}}
              {{/select}}
            {{/with}}
          </select>
        </span>
        <span class="flexrow">
          <label for="typeFilter" class="header-label flex0" style="padding-left: 10px">{{localize
              "arm5e.sheet.type"
            }}</label>

          <select
            id="typeFilter"
            name="typeFilter"
            data-type="String"
            style="flex: 0 0 90px"
            class="type-filter"
            data-list="{{list}}"
            data-category="bookTopics"
          >
            {{#with (lookup ui.filters.bookTopics list)}}
              {{#select typeFilter}}
                <option value=""></option>
                <option value="Summa">Summa</option>
                <option value="Tractatus">Tractatus</option>
              {{/select}}
            {{/with}}
          </select>
        </span>
        <span class="flexrow">
          <label for="system.levelFilter" class="header-label" style="padding-left: 12px">{{localize
              "arm5e.sheet.level"
            }}</label>
          <select
            name="levelOperator"
            data-type="Number"
            style="flex: 0 0; font-family: bookAntiqua"
            class="levelOperator-filter"
            data-list="{{list}}"
            data-category="bookTopics"
          >
            {{#with (lookup ui.filters.bookTopics list)}}
              {{#select levelOperator}}
                <option value="0">=</option>
                <option value="-1">&leq;</option>
                <option value="1">&geq;</option>
              {{/select}}
            {{/with}}
          </select>
          {{#with (lookup ui.filters.bookTopics list)}}
            <input
              type="number"
              name="levelFilter"
              value="{{levelFilter}}"
              data-dtype="Number"
              style="margin-right: 12px"
              class="level-filter"
              data-list="{{@root.list}}"
              data-category="bookTopics"
            />
          {{/with}}
        </span>
        <span class="flexrow">
          <label for="system.levelFilter" class="header-label" style="padding-left: 12px">{{localize
              "arm5e.sheet.quality"
            }}</label>
          <select
            name="qualityOperator"
            data-type="Number"
            style="flex: 0 0; font-family: bookAntiqua"
            class="qualityOperator-filter"
            data-list="{{list}}"
            data-category="bookTopics"
          >
            {{#with (lookup ui.filters.bookTopics list)}}
              {{#select qualityOperator}}
                <option value="0">=</option>
                <option value="-1">&leq;</option>
                <option value="1">&geq;</option>
              {{/select}}
            {{/with}}
          </select>
          {{#with (lookup ui.filters.bookTopics list)}}
            <input
              type="number"
              name="qualityFilter"
              value="{{qualityFilter}}"
              data-dtype="Number"
              style="margin-right: 12px"
              class="quality-filter"
              data-list="{{@root.list}}"
              data-category="bookTopics"
            />
          {{/with}}
        </span>
      </div>
    </div>
  </li>
</div>